<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527231158211-u9kdk9u8cljh3hsn9f1628o7mp7i4hjs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527231158211-u9kdk9u8cljh3hsn9f1628o7mp7i4hjs</string>
	<key>API_KEY</key>
	<string>AIzaSyCwJBkMgrEgAordcVz3DI0awvfeZLNmYsA</string>
	<key>GCM_SENDER_ID</key>
	<string>527231158211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messagingApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-f26ce</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-f26ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527231158211:ios:98a49c9cda14d6cc475f76</string>
</dict>
</plist>